# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
.venv/
.env
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
dist/
.angular/
frontend/.env

# Coverage
htmlcov/
.coverage
.pytest_cache/

# Migrations cache
**/migrations/__pycache__/

# Extra
Prueba_Tecnica_Desarrollador.pdf
*.pdf
prueba_tecnica.zip
*.zip
estructura.txt

.claude
