SECRET_KEY=
DEBUG=

# DATABASE_URL debe establecerse solo como variable de entorno segura (Render, etc). Nunca publiques esta variable aquí ni en repositorios.
# DATABASE_URL=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=

WORLD_BANK_BASE_URL=
EXCHANGE_RATE_BASE_URL=
